@font-face {
   font-family: 'JosefinSansSemibold-p7Z0v';
   font-display: swap;
   src: url('JosefinSansSemibold-p7Z0v/font.ttf');
}
@font-face {
   font-family: 'ModernSans-Light';
   font-display: swap;
   src: url('ModernSans-Light/font.ttf');
}
@font-face {
   font-family: 'JosefinSansLight-ZVEll';
   font-display: swap;
   src: url('JosefinSansLight-ZVEll/font.ttf');
}
