@font-face {
   font-family: 'JosefinSansLight-ZVEll';
   font-display: swap;
   src: url('file:///Users/shawhin/Library/Application%20Support/Mobirise.com/Mobirise/projects/project-2020-09-05_154920/fonts/JosefinSansLight-ZVEll/font.ttf');
}
